{% extends 'base.html' %}

{% block content %}
<div class="page-header">
    <h1>Sensor readings for {{ rec.devEUI }}</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <td>Temperature</td>
                <td>{{ rec.temperature }} °C</td>
            </tr>
            <tr>
                <td>Humidity</td>
                <td>{{ rec.humidity }} %</td>
            </tr>
            <tr>
                <td>Battery voltage</td>
                <td>{{ rec.voltage }} mV</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>{{ rec.location.address }}</td>
            </tr>
            <tr>
                <td>Date/time</td>
                <td>{{ rec.datetime }}</td>
            </tr>
        </table>

        <p>
            <a href="{{ url_for('sms') }}" class="btn btn-lg btn-primary">
                Send SMS
            </a>
        </p>
    </div>
</div>
{% endblock %}
